.title {
  margin-bottom: 20px;
}

.title h1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #524F59;
  margin-bottom: 5px;
}

.title p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.subtitle {
  margin-bottom: 20px;
}

.subtitle h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,0.87);
  margin-bottom: 0px;
}

.subtitle p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,0.38);
}

.incidents {
  margin-bottom: 20px;
}

.incidents .history-button {
  color: #4183c4;
  text-decoration: underline;
}

.incidents .rca {
  color: #4183c4;
}

.incidents .rca:hover {
  text-decoration: underline;
}
