.title {
  margin-bottom: 20px;
}

.title h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #16141A;
}

.title p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #16141A;
}

.subtitle {
  margin-bottom: 20px;
}

.subtitle h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
  color: #16141A;
}

.subtitle p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #736E7D;
}

.incidents .history-button {
  color: #4183c4;
  text-decoration: underline;
}

.incidents .rca {
  color: #4183c4;
}

.incidents .rca:hover {
  text-decoration: underline;
}

.catalysts-network::before {
  content: ' ';
  width: 12px;
  height: 7px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 8px;
  filter: var(--brightness);
  background-image: url('./assets/arrow-down.svg');
  transition: transform 0.25s ease;
}

.catalysts-network.caret-down::before {
  transform: rotateZ(0deg) translateY(-1px);
}

.catalysts-network.caret-side::before {
  transform: rotateZ(-90deg) translateY(1px);
}

.health-info {
  float: right;
}

.health-info.operational {
  color: rgba(61, 167, 81, 1);
}

.health-info.unavailable {
  color: rgba(217, 68, 48, 1);
}
